@charset "UTF-8";
.banner {
  background-color: #424242;
  padding: 80px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bmiImg img {
  margin-right: 70px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .inputArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  color: #FFD366;
}

.content .inputArea label {
  margin-bottom: 5px;
}

.content .inputArea input {
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #FFD366;
  border-radius: 10px;
  outline: 0px;
  font-family: "微軟正黑體";
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  margin-bottom: 20px;
}

.content .inputArea input:focus {
  color: #fff;
}

.content .resultBtn {
  margin-left: 70px;
}

.content .resultBtn .btn {
  background: #FFD366;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  outline: 0px;
  font-size: 24px;
  cursor: pointer;
}

.content .resultBtn .btn:hover {
  -webkit-box-shadow: 0 0 3px 3px #FFD366;
          box-shadow: 0 0 3px 3px #FFD366;
}

.recordArea {
  padding: 30px;
  background: #DDDADC;
}

.recordArea h2 {
  margin-bottom: 30px;
  font-size: 24px;
  color: #424242;
  text-align: center;
}

.list {
  width: 625px;
  color: #4A4A4A;
  margin: 0 auto;
}

.list .listLi {
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0;
  margin-bottom: 15px;
  background: #FFFFFF;
  font-size: 12px;
  border-left: 5px solid #86D73F;
}

.list .listLi p {
  line-height: 26px;
}

.list .listLi .style, .list .listLi span {
  font-size: 20px;
}

.list .listLi span {
  margin-left: 3px;
}

#clearHistory {
  text-align: center;
  color: #c0299f;
  cursor: pointer;
}

#clearHistory:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
  background: #FFD366;
  padding: 18px;
}

.changeBtn {
  padding: 20px 0;
  color: #FF982D;
  position: relative;
}

.changeBtn .newBtn {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  font-family: "微軟正黑體";
  font-size: 32px;
  text-align: center;
  line-height: 114px;
  border: 6px solid #FFD366;
}

.changeBtn .BMI {
  font-size: 14px;
  position: absolute;
  bottom: 45px;
  left: 47px;
}

.changeBtn .judge {
  font-size: 32px;
  width: 150px;
  position: absolute;
  top: 60px;
  left: 140px;
}

.changeBtn #refreshBtn {
  display: block;
  background-color: #FFD366;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 3px;
  position: absolute;
  bottom: 20px;
  left: 85px;
  cursor: pointer;
}

.changeBtn #refreshBtn img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.changeBtn #refreshBtn:hover {
  -webkit-box-shadow: 0 0 5px 2px #FFF inset;
          box-shadow: 0 0 5px 2px #FFF inset;
}

.list .lev1 {
  border-left: 5px solid #31BAF9;
}

.list .lev2 {
  border-left: 5px solid #86D73F;
}

.list .lev3 {
  border-left: 5px solid #FF982D;
}

.list .lev4 {
  border-left: 5px solid #FF6C03;
}

.list .lev5 {
  border-left: 5px solid #ff4a03f1;
}

.list .lev6 {
  border-left: 5px solid #FF1200;
}

.resultBtn .btn1 {
  color: #31BAF9;
}

.resultBtn .btn2 {
  color: #86D73F;
}

.resultBtn .btn3 {
  color: #FF982D;
}

.resultBtn .btn4 {
  color: #FF6C03;
}

.resultBtn .btn5 {
  color: #ff4a03f1;
}

.resultBtn .btn6 {
  color: #FF1200;
}
/*# sourceMappingURL=all.css.map */